$_button-icon-height: 2rem;

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: $color-white;
    border-radius: 0;
    border-style: solid;
    border-width: $border-size-small;
    color: $color-white;
    cursor: pointer;
    font-family: $font-family-body;
    font-weight: $font-weight-heavy;
    letter-spacing: 0.75px;
    line-height: 1;
    padding: $space-2 $space-3;
    text-decoration: none;
    transition-duration: $transition-duration-base;
    transition-property: background-color, color;
    transition-timing-function: $transition-timing-base;
    vertical-align: middle;
    white-space: nowrap;

    &:hover,
    &:focus {
        -webkit-appearance: none;
        background-color: $color-white;
        color: $color-black;
    }

    @media (min-width: $breakpoint-medium) {
        border-width: $border-size-large;
    }
}

.button--lowkey {
    background-color: transparent;
    border: none;
    padding: $space-1;

    &:hover,
    &:focus {
        background-color: rgba(255, 255, 255, 0.1);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.button--round {
    border-radius: 100%;
}

.button__icon {
    color: $color-white;
    display: inline-block;
    height: $_button-icon-height;
    overflow: visible;
    width: $_button-icon-height;
}
