$_button-icon-size: 3rem;

.button {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: $color-white;
    border-radius: 4px;
    border-style: solid;
    border-width: $border-size-small;
    color: $color-white;
    cursor: pointer;
    font-family: $font-family-body;
    font-weight: $font-weight-heavy;
    letter-spacing: 0.75px;
    line-height: 1;
    padding: $space-2 $space-3;
    transition-duration: $transition-duration-base;
    transition-property: background-color, color;
    transition-timing-function: $transition-timing-base;
    vertical-align: middle;
    white-space: nowrap;

    &:hover {
        -webkit-appearance: none;
        background-color: $color-white;
        color: $color-black;
    }

    &:focus-visible {
      outline: none;
      box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 0px 2px, rgb(255,255,255) 0px 0px 0px 1px !important;
    }
}

.button--lowkey {
    background-color: transparent;
    border-color: transparent;
    padding: $space-1;

    &:hover {
        background-color: rgba(255, 255, 255, 0.15);
    }

    &:active {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.button--round {
    border-radius: 100%;
    height: $_button-icon-size;
    width: $_button-icon-size;
}

.button__icon {
    color: $color-white;
    display: inline-block;
}
