$_animationDuration: 1s;

.location-form--hidden {
    display: none;
}

.location-form__form {
    display: block;
    flex-flow: column nowrap;
    margin: 12vh auto 0;

}

.location-form__cta-label {
    animation: $_animationDuration ease 0.15s backwards animateIn;
    color: $color-white;
    font-size: $font-size-32;
    line-height: 1.5;
    margin-bottom: $space-4;

    @media (min-width: $breakpoint-small) {
        font-size: $font-size-36;
        margin-bottom: $space-6;
    }
}

.location-form__error-line-break {
    display: none;

    @media (min-width: $breakpoint-small) {
        display: block;
    }
}

.location-form__form-field-container {
    animation: $_animationDuration ease 0.2s backwards animateIn;
    display: flex;
    flex-direction: column;

    @media (min-width: $breakpoint-small) {
        flex-direction: row;
    }
}

.location-form__text-field {
    appearance: none;
    border-radius: 0;
    border-color: $color-form-input-inactive;
    border-width: 0 0 $border-size-small 0;
    background-color: transparent;
    color: $color-white;
    font-size: $font-size-32;
    margin: 0 0 $space-4 0;
    min-width: 0%;
    padding: 0 0 0.5rem;
    transition: border-color $transition-duration-base $transition-timing-base;
    width: 100%;

    &:hover,
    &:focus {
        border-radius: inherit;
        border-color: $color-white;
        outline: none;
    }

    &::placeholder {
        color: $color-form-input-inactive;
        line-height: normal;
    }

    @media (min-width: $breakpoint-small) {
        border-width: 0 0 $border-size-large 0;
        font-size: $font-size-36;
        height: 4rem;
        margin: 0 $space-2 0 0;
    }
}

.location-form__suggestions {
  align-items: center;
  color: $color-white;
  display: flex;
  flex-wrap: wrap;
  padding: $space-4 0;
}

@keyframes animateIn {
    from {
        opacity: 0;
        transform: translateY(4rem);
    }

    50% {
        transform: translateY(0);
    }

    to {
        opacity: 1;
    }
}
