.beats {
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.beats__beat {
  background-color: orange;
  border-radius: 2rem;
  padding: 2rem;
  position: relative;
}
