$_button-icon-height: 2rem;

.button {
	background-color: $color-white;
	border-color: $color-black;
	border-radius: 0;
	border-style: solid;
	border-width: $border-size-small;
	color: inherit;
	cursor: pointer;
	font-family: $font-family-body;
	font-weight: $font-weight-heavy;
	letter-spacing: 0.75px;
	line-height: 1;
	padding: $space-2 $space-3;
	text-decoration: none;
	transition: all $transition-duration-base $transition-timing-base;
	vertical-align: middle;
	white-space: nowrap;

	&:hover,
	&:focus {
		background-color: $color-black;
		color: $color-white;
	}

	@media (min-width: $breakpoint-medium) {
		border-width: $border-size-large;
	}
}

.button--icon {
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border: none;
	height: $_button-icon-height;
	padding: 0;
	width: $_button-icon-height;

	&:hover {
		background-color: transparent;
		letter-spacing: 0;
		opacity: 0.75;
	}
}

.button__back-btn {
	background-image: url(../assets/icons/icon_back-arrow.svg);
}

.button__mute-btn {
	background-image: url(../assets/icons/icon_volume-off.svg);
}

.button__unmute-btn {
	background-image: url(../assets/icons/icon_volume-on.svg);
}
