$_button-icon-height: 2rem;

.button {
  background-color: transparent;
  border-color: $color-white;
  border-radius: 0;
  border-style: solid;
  border-width: 0.25rem;
  color: $color-white;
  cursor: pointer;
  font-family: $font-family-body;
  font-weight: $font-weight-heavy;
  line-height: 1;
  padding: $space-1 $space-3;
  text-decoration: none;
  transition: all $transition-duration-base $transition-timing-base;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    border-color: $color-action;
    color: $color-action;
  }
}

.button--icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  height: $_button-icon-height;
  padding: 0;
  width: $_button-icon-height;

  &:hover {
    letter-spacing: 0;
    opacity: 0.75;
  }
}

.button__back-btn {
  background-image: url(../assets/icons/icon_back-arrow.svg);
}

.button__mute-btn {
  background-image: url(../assets/icons/icon_volume-off.svg);
}

.button__unmute-btn {
  background-image: url(../assets/icons/icon_volume-on.svg);
}
