.header--hidden {
  display: none;
}

.header__content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.header--active {
  animation: 1s animateIn;
}

.header__location-display {
  font-size: $font-size-24;
  line-height: 1.33333;
}
