.header--hidden {
  display: none;
}

.header__content-container {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.header__location-display {
  font-size: $font-size-24;
  line-height: 1.33333;
  margin-bottom: $space-1;
}
