$_animationDuration: 1s;

.location-form--hidden {
  display: none;
}

.location-form__form {
  display: block;
  flex-flow: column nowrap;
  margin: 12vh auto 0;
  max-width: 820px;
}

.location-form__cta-label {
  animation: $_animationDuration ease 0.15s backwards animateIn;
  font-size: $font-size-16;
  line-height: 1.5;
  margin-bottom: $space-3;

  @media (min-width: $breakpoint-medium) {
    font-size: $font-size-24;
    margin-bottom: $space-4;
  }
}

.location-form__form-field-container {
  animation: $_animationDuration ease 0.2s backwards animateIn;
  display: flex;
  flex-direction: column;

  @media (min-width: $breakpoint-medium) {
    flex-direction: row;
  }
}

.location-form__text-field {
  border-color: $color-lightest-gray;
  border-width: 0 0 1px 0;
  background-color: $color-background;
  color: $color-white;
  font-size: $font-size-16;
  height: 3rem;
  margin: 0 0 $space-2 0;
  width: 100%;

  &:focus {
    border-color: $color-action;
    color: $color-white;
  }

  @media (min-width: $breakpoint-medium) {
    border-width: 0 0 0.25rem 0;
    font-size: $font-size-36;
    height: 4rem;
    margin: 0 $space-2 0 0;
  }
}

@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  50% {
    transform: translateY(0);
  }

  to {
    opacity: 1;
  }
}
