.container {
    @include padding;
    width: 100%;
}

.container__inner-container {
    width: 100%;
}

.container__inner-small{
    margin: 0 auto;
    max-width: 820px;
    width: 100%;
}

.container__inner--split {
    display: flex;
    justify-content: space-between;
}
