// Fonts
$font-family-body: 'Poppins', sans-serif;
$font-family-heading: 'Poppins', sans-serif;
$font-weight-normal: 400;
$font-weight-heavy: 600;

// Font Sizes
$font-size-14: 0.875rem;
$font-size-16: 1rem;
$font-size-24: 1.5rem;
$font-size-32: 2rem;
$font-size-36: 2.25rem;

// Color Palette
$color-black: #171923;
$color-gray-300: #CBD5E0;
$color-white: #fff;

// Text Color Settings
$color-text-base: $color-white;
$color-text-secondary: $color-gray-300;

// Sizing
$border-size-small: 2px;

// Spacing
$base-space-value: 0.5rem;

$space-values: (
    '0': 0,
    '1': $base-space-value,
    '2': $base-space-value * 2,
    '3': $base-space-value * 3,
    '4': $base-space-value * 4,
    '6': $base-space-value * 6,
    '8': $base-space-value * 8,
    '12': $base-space-value * 12,
    '16': $base-space-value * 16,
);

$space-0: map-get($space-values, '0');
$space-1: map-get($space-values, '1');
$space-2: map-get($space-values, '2');
$space-3: map-get($space-values, '3');
$space-4: map-get($space-values, '4');
$space-6: map-get($space-values, '6');
$space-8: map-get($space-values, '8');
$space-12: map-get($space-values, '12');
$space-16: map-get($space-values, '16');

$breakpoint-small: 32em;
$breakpoint-medium: 48em;
$breakpoint-large: 60em;
$breakpoint-x-large: 81.25em;

// Timing
$transition-duration-base: 125ms;
$transition-duration-long: 300ms;

$transition-timing-base: ease;
